{{ define "gameboard" }}
<form id="gameboard" class="hide">
    <div id="questionWrapper">
        <div id="question">prepare to be delighted...</div>
        <div id="weight"></div>
        <div id="answers"></div>
    </div>
    <div id="inputWrapper">
        <input id="inputGuess" name="inputGuess" value="Submit" type="submit" disabled>
    </div>
    <div id="gameboardMsgWrapper" class="hide">
        <div id="gameboardMsg"></div>
    </div>
</form>
{{ end }}

